<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../stylesheets/main.css">
    <link rel="stylesheet" href="../stylesheets/header.css">
    <title>Meetup</title>
</head>
<body>
    <%- include('../partials/navbar.ejs')%>
    <main>
        <article class="fullDetail">
            <h1><%= meetup.title %></h1>
            <div class="imageContainer">
                <img src="../<%= meetup.imageUrl%>" alt="meetup image">
            </div>
            <div class="detail">
                <h1><%= meetup.date%> &nbsp; <%= meetup.time%></h1>
                <p><%= meetup.description%></p>
            </div>
            <div class="registration">
                <button class="link">register</button>
            </div>
        </article>
    </main>
</body>
</html>